@import url("https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&display=swap");
#main-nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  height: 75px;
  background: #F2F2F2;
  width: 100%; }
  @media screen and (min-width: 48rem) {
    #main-nav {
      height: 100px; } }

#main-menu {
  display: none;
  height: 100%; }
  @media screen and (min-width: 48rem) {
    #main-menu {
      display: flex; } }

a, i {
  transition: transform 180ms ease-in; }

li, .menu-link-home {
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 120ms ease-in, border 120ms ease-in;
  height: 100%;
  border: 2px solid transparent; }
  li:hover, .menu-link-home:hover {
    background-color: #e5e5e5;
    border-color: #d9d9d9;
    cursor: pointer; }
  li:hover a, .menu-link-home:hover a {
    transform: scale(1.05); }
  li:hover i, .menu-link-home:hover i {
    transform: scale(1.12); }

#admin-link {
  background-color: #e6e7d9; }
  #admin-link:hover {
    background-color: #dcddc9;
    border-color: #d1d3ba; }

.menu-link-home {
  width: auto; }
  .menu-link-home a {
    padding: 20px; }

#toggle-menu {
  display: block;
  margin: 20px; }
  @media screen and (min-width: 48rem) {
    #toggle-menu {
      display: none; } }

#header {
  height: 350px;
  width: 100%;
  display: flex;
  justify-content: space-between; }
  @media screen and (min-width: 48rem) {
    #header {
      min-height: 500px; } }

#header .fig-banner-l {
  width: 20%;
  height: 100%;
  background-image: url("/img/banner.jpg");
  background-size: cover; }

#header .fig-banner-r {
  width: 70%;
  height: 100%;
  background-image: url("/img/banner.jpg");
  background-size: cover; }

#section-presentation {
  display: flex;
  flex-direction: column;
  padding: 20px; }
  @media screen and (min-width: 48rem) {
    #section-presentation {
      flex-direction: row;
      align-items: center; } }
  #section-presentation > section, #section-presentation > nav {
    width: 100%; }
    @media screen and (min-width: 48rem) {
      #section-presentation > section, #section-presentation > nav {
        width: 50%; } }

#action-nav ul li {
  margin: 15px 0; }

* {
  box-sizing: border-box; }

body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  font-family: "Noticia Text", serif;
  color: #0D0D0D;
  position: relative; }

header, main, figure, section,
nav, ul, div, img,
button, li, article {
  margin: 0;
  padding: 0; }

#header, #content,
#footer {
  width: 100%; }

a {
  text-decoration: none;
  color: inherit; }

h1 {
  font-size: 4rem; }
  @media screen and (min-width: 48rem) {
    h1 {
      font-size: 6rem; } }

h2 {
  color: #BFA678;
  font-size: 2.5rem; }
  @media screen and (min-width: 48rem) {
    h2 {
      font-size: 4rem; } }

ul {
  list-style-type: none; }

footer {
  margin: 0;
  padding: 20px; }

#display-pages {
  margin-top: 75px; }
  @media screen and (min-width: 48rem) {
    #display-pages {
      margin-top: 100px; } }

button {
  font-family: inherit;
  font-size: inherit; }

.btn-link {
  background-color: #0D0D0D;
  padding: 20px;
  border-radius: 13px;
  color: #F2F2F2; }
