@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&display=swap');


// ====== ===================================== //
// ====== COULEURS								//
// ====== ===================================== //

$main-color: #BFA678;
$secondary-color: #737373;
$main-bg-color: #FFFAD5;
$secondary-bg-color: #B38963;
$dark: #0D0D0D;
$white: #F2F2F2;


$main-hg-color: #BD4932;
$secondary-hg-color: #105B63;


// ====== ===================================== //
// ====== TYPOGRAPHIE							//
// ====== ===================================== //

$font-family: 'Noticia Text', serif;
$font-default-size: 16px;


// ====== ===================================== //
// ====== RESPONSIVE							//
// ====== ===================================== //

$med-screen: 48rem;
$lg-screen: 62rem;


// ====== ===================================== //
// ====== SIZING								//
// ====== ===================================== //

$main-nav-height: 75px;
$main-nav-height-screen: $main-nav-height + 25px;

$sizing: 20px;

