#nav-admin {
   top: $main-nav-height;
   background-color: $secondary-hg-color;
   color: $white;

   @media screen and (min-width: $med-screen) {
    top: $main-nav-height-screen;
   }

   .nav-btn:hover a {
       color: $dark;
   }
}

#admin-pannel {
    width: 100%;
    padding: $sizing;

    @media screen and (min-width: $med-screen) {
        margin-left: $nav-link-w;
        width: calc(100% - #{$nav-link-w});
    }
}