/**
* BANNIERE
*/
#header figure {
	min-height: 350px;
	width: 100%;
	background: $main-color;
	display: flex;
	align-items: center;
	justify-content: center;
	
	@media screen and (min-width: $med-screen) {
		min-height: 500px;
	}
}


/**
* PRESENTATION
*/
#section-presentation {
	display: flex;
	flex-direction: column;
	padding: $sizing;
	
	@media screen and (min-width: $med-screen) {
		flex-direction: row;
		align-items: center;
	}
	
	& > section, & > nav {
		width: 100%;
		
		@media screen and (min-width: $med-screen) {
			width: 50%;
		}
	}
}

#action-nav ul li{
	margin: 15px 0;
}