// ====== ===================================== //
// ====== BANNIERE								//
// ====== ===================================== //

#header {
	height: 350px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	
	@media screen and (min-width: $med-screen) {
		min-height: 500px;
	}
}

#header .fig-banner-l {
	width: 20%;
	height: 100%;
	background-image: url('/img/banner.jpg');
	background-size: cover;
}

#header .fig-banner-r {
	width: 70%;
	height: 100%;
	background-image: url('/img/banner.jpg');
	background-size: cover;
}


// ====== ===================================== //
// ====== PRESENTATION							//
// ====== ===================================== //

#section-presentation {
	display: flex;
	flex-direction: column;
	padding: $sizing;
	
	@media screen and (min-width: $med-screen) {
		flex-direction: row;
		align-items: center;
	}
	
	& > section, & > nav {
		width: 100%;
		
		@media screen and (min-width: $med-screen) {
			width: 50%;
		}
	}
}

#action-nav ul li{
	margin: 15px 0;
}