#main-nav {
	height: $main-nav-height;
	background: $white;
	width: 100%;
	
	@media screen and (min-width: $med-screen) {
		height: $main-nav-height-screen;
	}
}

#main-menu {
	display: none;
	height: 100%;

	@media screen and (min-width: $med-screen) {
		display: flex;
	}
}


// ====== ===================================== //
// ====== ANIMATION LIENS MENU					//
// ====== ===================================== //

a, i {
	transition: transform 180ms ease-in;
}

#admin-link {
	background-color: $light-pale-green;

	&:hover {
		background-color: darken($light-pale-green, 5%);
		border-color: darken($light-pale-green, 10%);
	}
}

.nav-btn.menu-link-home {
	width: auto;

	a {
		padding: $sizing;
	}
}


// ====== ===================================== //
// ====== MENU RESPONSIVE						//
// ====== ===================================== //

#toggle-menu {
	display: block;
	margin: $sizing;
	
	@media screen and (min-width: $med-screen) {
		display: none;
	}
}