@import '_variables.css';

/**
* GENERAL
*/
* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-size: var(--font-default);
    font-family: var(--font-family);

    background-color: var(--main-bg-color);
    color: var(--dark);
}

#header-banner {
    margin-top: var(--navbar-h);
}
/*_*/
    @media screen and (min-width: 48rem) {
        #header-banner {
            margin-top: var(--navbar-h-med);
        }
    }

 
/**
* NAVBAR ET MENU
*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--navbar-h);
}
/*_*/
    @media screen and (min-width: 48rem) {
        nav {
            display: flex;
            justify-content: end;
            align-items: center;
            height: var(--navbar-h-med);
        }
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul {
    height: 100%;
    display: none;
}
/*_*/
    @media screen and (min-width: 48rem) {
        nav ul {
            display: flex;
        }
        /*_*/
            nav ul li {
                padding: var(--sm-p);
                height: 100%;
                display: flex;
            }
            /*_*/
                nav ul li a {
                    align-self: center;
                }
    }


